<div class="jobs-index">
  <div class="search-hero">
    <div class="container">
      <h1>Find Your Next Job</h1>
      
      <%= form_with url: jobs_path, method: :get, local: true, class: 'job-search-form' do |f| %>
        <div class="search-input-group">
          <%= f.text_field :q, placeholder: 'e.g. "software engineer at uber"', 
                          value: params[:q], class: 'search-input',
                          data: { autocomplete_url: search_suggestions_path } %>
          <%= f.submit 'Search Jobs', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="container">
    <div class="search-results">
      <div class="results-sidebar">
        <h3>Filters</h3>
        
        <%= form_with url: jobs_path, method: :get, local: true, class: 'filters-form' do |f| %>
          <%= f.hidden_field :q, value: params[:q] %>
          
          <div class="filter-group">
            <label>Location</label>
            <%= f.text_field :location, value: params[:location], 
                            placeholder: 'City, State, or Remote' %>
          </div>
          
          <div class="filter-group">
            <label>
              <%= f.check_box :remote, { checked: params[:remote] }, 'true', '' %>
              Remote Jobs Only
            </label>
          </div>
          
          <div class="filter-group">
            <label>Job Type</label>
            <%= f.select :employment_type, 
                        options_for_select([['All Types', '']] + 
                        @aggregations[:employment_types].map { |k, v| [k.humanize, k] }, 
                        params[:employment_type]), 
                        {}, { class: 'form-select' } %>
          </div>
          
          <div class="filter-group">
            <label>Experience Level</label>
            <%= f.select :experience_level,
                        options_for_select([['All Levels', '']] + 
                        @aggregations[:experience_levels].map { |k, v| [k.humanize, k] }, 
                        params[:experience_level]),
                        {}, { class: 'form-select' } %>
          </div>
          
          <%= f.submit 'Apply Filters', class: 'btn btn-outline' %>
        <% end %>
      </div>
      
      <div class="results-main">
        <div class="results-header">
          <h2>
            <%= number_with_delimiter(@total_count) %> Jobs Found
            <% if params[:q].present? %>
              for "<%= params[:q] %>"
            <% end %>
          </h2>
          
          <div class="sort-options">
            <%= link_to 'Most Recent', jobs_path(request.query_parameters.merge(sort_by: 'newest')),
                       class: 'sort-link' %>
            <%= link_to 'Best Match', jobs_path(request.query_parameters.except(:sort_by)),
                       class: 'sort-link' %>
          </div>
        </div>
        
        <div class="jobs-list">
          <% @jobs.each do |job| %>
            <%= render 'shared/job_card', job: job, show_company: true %>
          <% end %>
        </div>
        
        <%= paginate @jobs %>
      </div>
    </div>
  </div>
</div>
